name: CI (Ant, PHP 8.1)

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
            php-version: '8.1'
            extensions: imagick, swoole      
            coverage: xdebug
      - name: Build with Ant
        run: ant -noinput -buildfile build.ant.xml
